<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Example Application</display-name>

	<!-- Begin AjaxIntercept Filter -->
	<!-- AJAX Calls do not receive redirects, so return custom error code 901 -->
	<filter>
		<filter-name>ajaxInterceptFilter</filter-name>
		<filter-class>org.xtremeturmoil.filters.AjaxSessionExpirationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ajaxInterceptFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	<!-- End AjaxInterceptFilter -->

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- Begin - Spring Security Bootstrap -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/security-form.xml
		</param-value>
	</context-param>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Finish - Spring Security Bootstrap -->

	<listener>
		<listener-class>org.xtremeturmoil.listeners.ContextInit</listener-class>
	</listener>
	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.xtremeturmoil.service</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
